<div>
  <h4>Software engineering experience</h4>
  <div>
    <ul class="list-unstyled">
      {% for exp in resume.experiences %}
        <li class="mb-2">
          <div class="d-flex small justify-content-between align-items-center">
            <span class="fs-5">{{ exp.title }}</span>
            {% if exp.duration %}
            <span class="text-secondary">{{ exp.duration }}</span>
            {% endif %}
          </div>
          {% if exp.employer and exp.location %}
            <div class="d-flex small justify-content-between mb-2">
              <span class="text-secondary">{{ exp.employer }}</span>
              <span class="text-secondary">{{ exp.location }}</span>
            </div>
          {% endif %}
          <div>
            <ul class="small">
              {% for highlight in exp.highlights %}
                <li class="mb-1">
                  {{ highlight }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
