<div>
  <h4>Open source contributions</h4>
  <ul class="list-unstyled">
    {% for project in resume.projects %}
      <li class="mb-3">
        <div class="d-flex justify-content-between">
          <span class="fs-5">{{ project.title }}</span>
          {% if project.url != null %}
          <div>
            <a href="{{ project.url }}">
              <i class="bi bi-github"></i>
            </a>
          </div>
          {% endif %}
        </div>
        <ul class="small">
          {% for highlight in project.highlights %}
            <li class="mb-1">
              {{ highlight }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>