<div>
  <h4>Software engineering projects</h4>
  <ul class="list-unstyled">
    {% for project in resume.projects %}
      <li class="mb-2">
        <div class="d-flex justify-content-between">
          <span class="fs-6">{{ project.title }}</span>
          {% if project.url != null %}
          <div>
            <a href="{{ project.url }}">
              <i class="bi bi-github"></i>
            </a>
          </div>
          {% endif %}
        </div>
        <ul class="small">
          {% for highlight in project.highlights %}
            <li>
              {{ highlight }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>