---
---

{% assign resume = site.resume %}
{% if page.resume %}
  {% assign resume = page.resume %}
{% endif %}

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- The resume -->
    <section class="py-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-12">
            <!-- resume-header -->
            <div class="container">
              <div class="row">
                {% include name.html %}
                {% include contacts.html %}
              </div>
            </div>
            <hr>
            <!-- resume body -->
            <div class="container">
              <div class="row">
                <!-- Minor section -->
                <div class="col-3">
                  {% include skills.html %}
                  {% include education.html %}
                </div>
                <!-- Main section -->
                <div class="col-9">
                  {% include experiences.html %}
                  {% include projects.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap JS -->
    {% include bootstrap-js.html %}
  </body>
</html>
